body{
    background: url("../img/bgBottom.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    top: 10vh;
    width: 80%;
    min-height: 90vh;
    background-color: rgb(209, 209, 209, 0.5);
    margin-top: 0px;
    margin: 50px auto;
}
.content{
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    background-color: rgb(229, 237, 241, 0.8);
    display: flex;
}
.content img{
    width: 50%;
    border-radius: 10px;
}
main h1{
    text-align: center;
}
.textBox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);   
}
.textBox h4:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.textBox span:nth-child(0n+2){
    grid-column-start: 1;
    grid-column-end: 2;
}
.textBox span:nth-child(0n+3){
    grid-column-start: 2;
    grid-column-end: 3;
}
@media screen and (max-width: 600px) {
    .content{
        width: 100%;
        margin: 10px auto;
        border-radius: 10px;
        background-color: rgb(229, 237, 241, 0.8);
        display: flex;
    }
    
    .content img{
        width: 50%;
        object-fit: cover;
    }
    .content h4{
        font-size: 0.8em;
    }
    .content span{
        font-size: 0.6em;
    }
    main{
        position: relative;
        top: 2vh;
        width: 80%;
        min-height: 50vh;
        background-color: rgb(209, 209, 209, 0.5);
        margin-top: 0px;
        margin: 50px auto;
    }
    
  }
